/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }
.header-bg {
  background-image: url("../img/janak_background.png"); /* Replace with your image path */
  background-size: cover;       /* Makes sure the image covers the entire header */
  background-position: center;  /* Keeps the image centered */
  background-repeat: no-repeat; /* Prevents tiling */
}
.custom-text {
  color: #ffffff; /* Indigo */
  font-size: 100px;
  font-weight: bold;
  font-family: "Georgia", serif;
}

